* {
    padding: 0;
    margin: 0;
    outline: none
}

body {
    background-color: #ffffff;
    font-family: Montserrat,sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #3f3f3f;
    overflow-anchor: auto;
    scroll-behavior: smooth;
    font-size-adjust: 100%;
}

section {
    background-color: rgb(196, 196, 196);
    padding: 20px;
    padding-top: 0;
}

p {
    line-height: 170%
}

body a {
    margin-top: 20px;
    color: #f26651;
    text-decoration: none;
}

img {
    max-width: 100%;
    padding: 30px;
    padding-left: 0;
    padding-right: 0;
}

ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
h2 {
    padding-top: 20px;
}
footer {
    text-align: center;
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
    float: left;
    color: #f6f6f6;
    background-color: #343434;
    padding-top: 50px;
    padding-bottom: 50px;
    display: block;
}
nav {
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
    background-color: #3f3f3f;
    color: #ffffff;
}
header {
    padding: 20px;
}

@media (min-width: 2000px) {
    main {
        width: 60%;
        padding-left: 20%;
        padding-right: 20%;
        float: left;
    }
}

@media (max-width: 2000px) and (min-width: 1500px) {
    main {
        width: 70%;
        padding-left: 15%;
        padding-right: 15%;
        float: left;
    }
}
@media (max-width: 1500px) {
    main {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        float: left;
    }
}

p.imagp {
    text-align: center;
}
